[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
celery = "==4.4.2"
flower = "*"
braintree = "*"
weasyprint = "*"
django-rosetta = "*"
django-parler = "*"
django-localflavor = "*"
redis = "*"

[dev-packages]

[requires]
python_version = "3.8"
